html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(244, 244, 244);
}

a {
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}
.components{
  margin-top: 95px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134);
}

.ReactModal__Content {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}
.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0px);
}
.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

.swiper-container {
  width: 480px;
  border: 6px solid red !important;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}


/* light-dark mode setup ------------------- */
:root{
  --navBackground: white;
  --navIconColor: black;
  --navShadow: rgb(232, 232, 232);
  --bodyBackground: rgb(244, 244, 244);
  --postBackground: white;
  --postDataColor: black;
  --postAuthorDataColor: rgb(84, 84, 84);
  --accountBackground: white;
  --commentButton: white;
  --commentButtonColor: #046FDB;
  --editProfileButton: white;
  --myPostHeading: rgb(73, 73, 73);
  --dropdownBackground: #f9f9f9;
  --dropdownHoverBackground: #f1f1f1;
  --dropdownColor: black;
  --dropdownIcons: rgb(87, 87, 87);
  --dropdownIcons2: black;
  --modalBackground: white;
  --storyCaption: rgb(69, 69, 69);
  --storyDeleteIconColor: rgb(194, 23, 23);
  --viewProfileButton: #0b4fb4;
  --signInColor: rgb(105, 105, 105);
  --navSignInColor: rgb(90, 90, 90);
  --storyTimeColor: rgb(66, 66, 66);
}
[theme-color="dark"]{
  --navBackground:#242526;
  --navIconColor: white;
  --navShadow: rgb(86, 86, 86);
  --bodyBackground: rgb(18, 18, 18);
  --postBackground: #3D3D3D;
  --postDataColor: white;
  --postAuthorDataColor: rgb(213, 213, 213);
  --accountBackground: #3D3D3D;
  --commentButton: #3D3D3D;
  --commentButtonColor: white;
  --editProfileButton: #AAAAAA;
  --myPostHeading: rgb(212, 212, 212);
  --dropdownBackground: #2D2D2D;
  --dropdownHoverBackground: rgb(71, 71, 71);
  --dropdownColor: white;
  --dropdownIcons: #AAAAAA;
  --dropdownIcons2: white;
  --modalBackground: #2D2D2D;
  --storyCaption: white;
  --storyDeleteIconColor: white;
  --viewProfileButton: #5998f6;
  --signInColor: black;
  --navSignInColor: white;
  --storyTimeColor: rgb(172, 172, 172);
}
html, body{
  background: var(--bodyBackground);
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.1s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: -30px;
  right: -10px;
  padding: 6px 18px;
  white-space: nowrap; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 4px #222;  
  -webkit-box-shadow: 0px 0px 4px #222;  
  box-shadow: 0px 0px 4px #222;  
  background: var(--dropdownBackground);
  color: var(--dropdownColor);
  opacity: 0;
  z-index: 99;
  font-size: .62rem;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

/* love visible on double click */
.loveVisibleIcon{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 7rem;
  z-index: 1;
  visibility: hidden;
}
.loveVisible{
  visibility: visible;
  animation: 0.5s loveGrow ease-in forwards;
}
@keyframes loveGrow{
  0%{
      transform: scale(0.8);
      /* visibility: visible; */
  }
  30%{
      transform: scale(1);
  }
  60%{
      transform: scale(0.9);
  }
  80%{
      transform: scale(1);
  }
  100%{
      transform: scale(0.9);
      /* visibility: hidden; */
  }
}